<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.flobby.oa.mapper.LeaveFormMapper">

    <insert id="insertLeaveForm" parameterType="top.flobby.oa.entity.LeaveForm"  useGeneratedKeys="true" keyProperty="formId">
        INSERT INTO adm_leave_form
        (employee_id, form_type, start_time, end_time, reason, create_time, state)
        VALUES (#{employeeId}, #{formType}, #{startTime}, #{endTime}, #{reason}, #{createTime}, #{state})
    </insert>

    <update id="updateLeaveForm" parameterType="top.flobby.oa.entity.LeaveForm">
        UPDATE adm_leave_form
        SET form_type=#{formType},
            start_time=#{startTime},
            end_time=#{endTime},
            reason=#{reason},
            create_time=#{createTime},
            state=#{state}
        WHERE form_id = #{formId}
    </update>
    <select id="selectById" resultType="top.flobby.oa.entity.LeaveForm" parameterType="long">
        SELECT *
        FROM adm_leave_form
        WHERE form_id = #{value}
    </select>

    <select id="selectByParams" resultType="java.util.LinkedHashMap" parameterType="java.util.Map">
        SELECT lf.*, e.name, d.department_name
        FROM adm_leave_form lf,adm_process_flow pf, adm_employee e, adm_department d
        WHERE lf.form_id = pf.form_id
        AND lf.employee_id = e.employee_id
        AND e.department_id = d.department_id
        <if test="state != null">
            AND pf.state = #{state}
        </if>
        <if test="operatorId != null">
            AND pf.operator_id = #{operatorId}
        </if>
    </select>

</mapper>