<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.flobby.oa.mapper.NodeMapper">
    <select id="getNode" parameterType="long" resultType="top.flobby.oa.entity.Node">
        SELECT DISTINCT n.*
        FROM sys_node n ,
             sys_role_node rn,
             sys_role_user ru
        WHERE rn.role_id = ru.role_id
        AND rn.node_id = n.node_id
        AND ru.user_id = #{value}
        ORDER BY n.node_code
    </select>
</mapper>
